h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.main {
  max-width: 1400px;
}

.name {
  position: absolute;
  left: 30px;
  bottom: 20px;
  text-shadow: 0px 0px 5px black;
  color: #ffffff;
}

i {
  color: #3788da;
}

.nav-bg {
  background-color: #e8f4ff;
}

/* Overwrite bootstrap color */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #3788da !important;
}

.barBackground {
  background-color: #f1f1f1;
}

.bar {
  background-color: #3788da;
}

.cert > li,
.cert > #more-cert > li {
  padding-bottom: 5px;
}

footer {
  background-color: #3788da;
}
